// mixins for project-2_gameSapper
@import "_variables";
@import "_breakpoints";

@mixin body-style {
    background-attachment: fixed;
    background           : $body_background-color;
    color                : #f2f2f2;
    font-family          : 'Work Sans', sans-serif;
    margin               : 0;
    padding              : 0;
    width                : 100%;
}

@mixin header-container {
    border-bottom   : 1px solid #fff;
    background-color: $containers_background-color;
    display         : flex;
    margin          : 0;
    overflow        : auto;
    padding         : 10px 35px 10px 10px;
    width           : 100%;

    @media (min-width: #{$screen-tablet}) {
        height       : 70px;
        padding-right: 60px;
    }
}

@mixin gh-icon {
    height: 30px;
    margin: 0;
    width : 30px;

    @media (min-width: #{$screen-tablet}) {
        height: 45px;
        width : 45px;
    }
}

@mixin project-name {
    display       : inline-block;
    font-family   : 'Oswald', sans-serif;
    font-size     : 25px;
    letter-spacing: 2px;
    line-height   : 10px;
    margin        : 0 auto;
    padding       : 10px;
    text-align    : center;

    @media (min-width: #{$screen-tablet}) {
        font-size     : 35px;
        letter-spacing: 3px;
        margin-top    : 10px;
    }
}

@mixin main-container-style {
    margin-top: 5px;
    overflow  : auto;
    padding   : 10px;
}

@mixin project-description {
    font-family   : 'Oswald', sans-serif;
    font-size     : 18px;
    letter-spacing: 2px;
    margin        : 0;
    padding       : 0;
    text-align    : center;

    @media (min-width: #{$screen-tablet}) {
        font-size     : 25px;
        letter-spacing: 3px;
    }
}

@mixin game-container {
    margin    : 5px 0 15px 0;
    overflow  : auto;
    padding   : 0;
    text-align: center;
}

@mixin game-navi {
    height  : 70px;
    margin  : 15px 0;
    padding : 5px 0;
    position: relative;

    @media (min-width: #{$screen-tablet}) {
        height: 90px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 60px;
        margin: 10px 0;
    }
}

@mixin move-counter {
    display     : inline-block;
    font-size   : 23px;
    font-weight : bold;
    padding     : 2px;
    margin-right: 10px;
    text-align  : center;
    width       : 45px;

    @media (min-width: #{$screen-tablet}) {
        font-size: 40px;
        width    : 55px;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size: 25px;
        width    : 45px;
    }
}

@mixin restart-saper {
    cursor  : pointer;
    display : inline-block;
    height  : 22px;
    margin  : 0 10px;
    position: absolute;
    top     : 8px;
    width   : 22px;

    @media (min-width: #{$screen-tablet}) {
        height     : 42px;
        margin-left: 25px;
        width      : 42px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 25px;
        width : 25px;
    }
}

@mixin status {
    display       : block;
    font-size     : 20px;
    font-weight   : bold;
    letter-spacing: 2px;
    margin        : 2px auto;
    padding       : 0;
    text-align    : center;
    text-shadow   : 1px 1px 2px #0000009f;
    width         : 250px;

    @media (min-width: #{$screen-tablet}) {
        font-size : 25px;
        margin-top: 5px;
    }

    @media (min-width: #{$screen-desktop}) {
        font-size : 20px;
        margin-top: 2px;
    }
}

@mixin saper-box {
    display   : block;
    margin    : auto;
    overflow  : auto;
    padding   : 2px;
    text-align: center;
    width     : 285px;

    @media (min-width: #{$screen-tablet}) {
        width: 480px;
    }

    @media (min-width: #{$screen-desktop}) {
        width: 320px;
    }
}

@mixin saper-td {
    background   : #ffffff6e;
    border-radius: 3px;
    cursor       : pointer;
    font-size    : 9px;
    height       : 26px;
    margin       : 0;
    padding      : 0;
    text-align   : center;
    width        : 26px;

    @media (min-width: #{$screen-tablet}) {
        height: 45px;
        width : 45px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 30px;
        width : 30px;
    }
}

@mixin footer {
    background-color: $containers_background-color;
    height          : 15px;
    margin-top      : 10px;
    padding-top     : 5px;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    width           : 100%;

    @media (min-width: #{$screen-tablet}) {
        height     : 20px;
        padding-top: 8px;
    }

    @media (min-width: #{$screen-desktop}) {
        height: 22px;
    }
}

@mixin footer-copyright {
    display       : block;
    font-size     : 8px;
    letter-spacing: 2px;
    line-height   : 5px;
    margin        : auto;

    @media (min-width: #{$screen-tablet}) {
        font-size: 12px;
    }
}